
@font-face {
  font-family: 'Good Morning';
  src: url('../fonts/GoodMorning.woff') format('woff');
}

#log_in_header {
  font-family: Good Morning;
  margin: 25px;
  margin-bottom: 30px;
  text-align: center;
}

#login_button {
  background-color: #FEDBD0;
  color: #442B2D;
  width: 304px;
}

#email_img, #pass_img, #login_button_img {
  height: auto;
  width: 21px;
}

.log_in_form {
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #f9f7f6;
  border-radius: 10px;
  position: relative;
  width: 325px;
  height: 300px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.g-recaptcha {
  width: 304px;
  margin: 0 auto;
}

body {
  background-image: url("../img/login_background.png");
}

div[class="input-group mb-3"] {
  width: 304px;
  margin: 0 auto;
}

div[class="form-group form-check"] {
  margin: 15px;
  text-align: center;
}
