__ayetravel__.app/__pycache__/
__ayetravel__.idea/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv370/pip-selfcheck.json
venv370/pyvenv.cfg
venv370/Scripts/__pycache__/django-admin.cpython-37.pyc
venv370/Scripts/_asyncio.pyd
venv370/Scripts/_asyncio_d.pyd
venv370/Scripts/_bz2.pyd
venv370/Scripts/_bz2_d.pyd
venv370/Scripts/_contextvars.pyd
venv370/Scripts/_contextvars_d.pyd
venv370/Scripts/_ctypes.pyd
venv370/Scripts/_ctypes_d.pyd
venv370/Scripts/_ctypes_test.pyd
venv370/Scripts/_ctypes_test_d.pyd
venv370/Scripts/_decimal.pyd
venv370/Scripts/_decimal_d.pyd
venv370/Scripts/_distutils_findvs.pyd
venv370/Scripts/_distutils_findvs_d.pyd
venv370/Scripts/_elementtree.pyd
venv370/Scripts/_elementtree_d.pyd
venv370/Scripts/_hashlib.pyd
venv370/Scripts/_hashlib_d.pyd
venv370/Scripts/_lzma.pyd
venv370/Scripts/_lzma_d.pyd
venv370/Scripts/_msi.pyd
venv370/Scripts/_msi_d.pyd
venv370/Scripts/_multiprocessing.pyd
venv370/Scripts/_multiprocessing_d.pyd
venv370/Scripts/_overlapped.pyd
venv370/Scripts/_overlapped_d.pyd
venv370/Scripts/_queue.pyd
venv370/Scripts/_queue_d.pyd
venv370/Scripts/_socket.pyd
venv370/Scripts/_socket_d.pyd
venv370/Scripts/_sqlite3.pyd
venv370/Scripts/_sqlite3_d.pyd
venv370/Scripts/_ssl.pyd
venv370/Scripts/_ssl_d.pyd
venv370/Scripts/_testbuffer.pyd
venv370/Scripts/_testbuffer_d.pyd
venv370/Scripts/_testcapi.pyd
venv370/Scripts/_testcapi_d.pyd
venv370/Scripts/_testconsole.pyd
venv370/Scripts/_testconsole_d.pyd
venv370/Scripts/_testimportmultiple.pyd
venv370/Scripts/_testimportmultiple_d.pyd
venv370/Scripts/_testmultiphase.pyd
venv370/Scripts/_testmultiphase_d.pyd
venv370/Scripts/_tkinter.pyd
venv370/Scripts/_tkinter_d.pyd
venv370/Scripts/activate
venv370/Scripts/activate.bat
venv370/Scripts/Activate.ps1
venv370/Scripts/deactivate.bat
venv370/Scripts/django-admin.exe
venv370/Scripts/django-admin.py
venv370/Scripts/easy_install-3.7-script.py
venv370/Scripts/easy_install-3.7.exe
venv370/Scripts/easy_install-script.py
venv370/Scripts/easy_install.exe
venv370/Scripts/libcrypto-1_1-x64.dll
venv370/Scripts/libssl-1_1-x64.dll
venv370/Scripts/pip-script.py
venv370/Scripts/pip.exe
venv370/Scripts/pip3-script.py
venv370/Scripts/pip3.7-script.py
venv370/Scripts/pip3.7.exe
venv370/Scripts/pip3.exe
venv370/Scripts/pyexpat.pyd
venv370/Scripts/pyexpat_d.pyd
venv370/Scripts/python.exe
venv370/Scripts/python3.dll
venv370/Scripts/python37.dll
venv370/Scripts/python37_d.dll
venv370/Scripts/python3_d.dll
venv370/Scripts/python_d.exe
venv370/Scripts/pythonw.exe
venv370/Scripts/pythonw_d.exe
venv370/Scripts/select.pyd
venv370/Scripts/select_d.pyd
venv370/Scripts/sqlite3.dll
venv370/Scripts/sqlite3_d.dll
venv370/Scripts/tcl86t.dll
venv370/Scripts/tk86t.dll
venv370/Scripts/unicodedata.pyd
venv370/Scripts/unicodedata_d.pyd
venv370/Scripts/vcruntime140.dll
venv370/Scripts/winsound.pyd
venv370/Scripts/winsound_d.pyd
.idea/ayetravel.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.xml___jb_tmp___
