<!DOCTYPE html>
{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
    ayetravel - Dashboard
{% endblock %}

{% block body_block %}
<!-- start page title -->
    <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-light" id="dash-daterange">
                                        <div class="input-group-append">
                                            <span class="input-group-text bg-primary border-primary text-white">
                                                <i class="mdi mdi-calendar-range font-13"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript: void(0);" class="btn btn-primary ml-2">
                                    <i class="mdi mdi-autorenew"></i>
                                </a>
                                <a href="javascript: void(0);" class="btn btn-primary ml-1">
                                    <i class="mdi mdi-filter-variant"></i>
                                </a>
                            </form>
                        </div>
                        <h4 class="page-title">Recommended Airbnb Listings</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

         <div class="row">
                <div class="col-md-6 col-xl-3">
                    <!-- project card -->
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="dropdown card-widgets">
                                <a href="" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="dripicons-dots-3"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
                                </div>
                            </div>
                            <!-- project title-->
                            <h4 class="mt-0">
                                <a href="" class="text-dark">Airbnb Listing Placeholder</a>
                            </h4>
                            <div class="badge badge-success mb-3">Finished</div>

                            <p class="text-muted font-13 mb-3">With supporting text below as a natural lead-in to additional contenposuere erat a ante...<a href="javascript:void(0);" class="font-weight-bold text-muted">view more</a>
                            </p>

                            <!-- project detail-->
                            <p class="mb-1">
                                <span class="pr-2 text-nowrap mb-2 d-inline-block">
                                    <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                    <b>21</b> Tasks
                                </span>
                                <span class="text-nowrap mb-2 d-inline-block">
                                    <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                    <b>741</b> Comments
                                </span>
                            </p>
                        </div> <!-- end card-body-->
                        <ul class="list-group list-group-flush">
                        </ul>
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row-->


            <div class="page-title-right">
            <h4 class="page-title">    My Trips</h4>
            </br>

                    <!-- Start Content-->
                    <div class="row">
                        {% if trips_total > 0 %}
                        {% for trip in user_trips %}
                        <div class="col-md-6 col-xl-3">
                            <!-- project card -->
                            <div class="card d-block">
                                <div class="card-body">
                                    <div class="dropdown card-widgets">
                                        <a href="trips/{{ trip.slug }}" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <i class="dripicons-dots-3"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
                                        </div>
                                    </div>
                                    <!-- project title-->
                                    <h4 class="mt-0">
                                        <a href="my/trips/{{ trip.slug }}" class="text-dark">{{ trip.name }}</a>
                                    </h4>

                                    {% if trip.get_status == 'in_progress' %}
                                        <div class="badge badge-success badge-pill">In Progress</div>
                                    {% elif trip.get_status == 'coming_up' %}
                                        <div class="badge badge-primary badge-pill">Coming Up</div>
                                    {% elif trip.get_status == 'completed' %}
                                        <div class="badge badge-info badge-pill">Completed</div>
                                    {% elif trip.get_status == 'started_today' %}
                                        <div class="badge badge-warning badge-pill">Just Started</div>
                                    {% endif %}

                                    <p class="text-muted font-13 mb-3">
                                        From: {{ trip.user_location }} <br>
                                        Destination: {{ trip.destination }} <br>
                                        Budget: ${{ trip.budget }} <br>
                                        Participants: {{ trip.participants_total }}
                                    </p>

                                    <!-- project detail-->
                                    <p class="mb-1">
                                        <span class="pr-2 text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                            <b>{{ trip.pins_total }}</b> Pins
                                        </span>
                                        <span class="text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                            <b>{{ trip.comments_total }}</b> Comments
                                        </span>
                                    </p>
                                    <div>
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ user.get_username }}" class="d-inline-block">
                                            <img src="{{ user.userprofile.get_profile_picture }}" class="rounded-circle avatar-xs" alt="">
                                        </a>
{##}
{#                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty" class="d-inline-block">#}
{#                                            <img src="{% static "app/img/users/avatar-7.jpg" %}" class="rounded-circle avatar-xs" alt="friend">#}
{#                                        </a>#}
                                    </div>
                                </div> <!-- end card-body-->
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-3">
                                        <!-- project progress-->
                                        <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            </div><!-- /.progress-bar -->
                                        </div><!-- /.progress -->
                                    </li>
                                </ul>
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                        {% endfor %}
                        {% else %}
                          <div class="col-sm-4">
                            <a href="{% url "trips:create_trip" %}">
                                <button type="submit" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create Trip</button>
                            </a>
                          </div>
                        {% endif %}
                    </div>
                    <!-- end row-->

                    <!-- Public trips -->
                    <h4 class="page-title">    Community Trips</h4>
                    <br>

                    <div class="row">
                        {% for trip in community_trips %}
                        <div class="col-md-6 col-xl-3">
                            <!-- project card -->
                            <div class="card d-block">
                                <div class="card-body">
                                    <div class="dropdown card-widgets">
                                        <a href="community/trips/{{ trip.slug }}" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <i class="dripicons-dots-3"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
                                        </div>
                                    </div>
                                    <!-- project title-->
                                    <h4 class="mt-0">
                                        <a href="community/trips/{{ trip.slug }}" class="text-dark">{{ trip.name }}</a>
                                    </h4>

                                    {% if trip.get_status == 'in_progress' %}
                                        <div class="badge badge-success badge-pill">In Progress</div>
                                    {% elif trip.get_status == 'coming_up' %}
                                        <div class="badge badge-primary badge-pill">Coming Up</div>
                                    {% elif trip.get_status == 'completed' %}
                                        <div class="badge badge-info badge-pill">Completed</div>
                                    {% elif trip.get_status == 'started_today' %}
                                        <div class="badge badge-warning badge-pill">Just Started</div>
                                    {% endif %}
                                    <br>

                                    <p class="text-muted font-13 mb-3">
                                        From: {{ trip.user_location }} <br>
                                        Destination: {{ trip.destination }} <br>
                                        Budget: ${{ trip.budget }} <br>
                                        Participants: {{ trip.participants_total }}
                                    </p>

                                    <!-- project detail-->
                                    <p class="mb-1">
                                        <span class="pr-2 text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                            <b>{{ trip.pins_total }}</b> Pins
                                        </span>
                                        <span class="text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                            <b>{{ trip.comments_total }}</b> Comments
                                        </span>
                                    </p>
                                    <div>
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ trip.user_id.get_username }}" class="d-inline-block">
                                            <img src="{{ trip.user_id.userprofile.get_profile_picture }}" class="rounded-circle avatar-xs" alt="">
                                        </a>
                                        <!-- TODO create participant model -->
{#                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ trip.participants_total.get_full_name }}" class="d-inline-block">#}
{#                                            <img src="{{ trip.participants_total.userproile.profile_picture.url }}" class="rounded-circle avatar-xs" alt="friend">#}
{#                                        </a>#}
{##}
{#                                        <a href="javascript:void(0);" class="d-inline-block text-dark font-weight-bold ml-2">#}
{#                                            +7 more#}
{#                                        </a>#}
                                    </div>
                                </div> <!-- end card-body-->
                                <ul class="list-group list-group-flush">
                                </ul>
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                        {% endfor %}
                    </div>
                    <!-- end row-->
                </div> <!-- container -->
            </div> <!-- container -->

{% endblock %}