<!DOCTYPE html>
{% extends "app/base.html" %}
{% load static %}

{% block scripts_block %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
{% endblock %}

{% block title_block %}
    ayetravel - Create Trip
{% endblock %}

{% block custom_body %}onload="initialize()"{% endblock %}

{% block body_block %}

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url "app:index" %}">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url "trips:trips_list" %}">Trips</a></li>
                                <li class="breadcrumb-item active">Create Trip</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Create a Trip</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Basic Info</h4>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    {{ form.name }}
                                    <span class="font-13 text-muted">e.g "Fucking Reno!"</span>

                                </div> <!-- end col -->

                                <div class="col-md-6">
                                    <label>Budget</label>
                                    {{ form.budget }}
                                    <span class="font-13 text-muted">e.g $3,800</span>

                                </div> <!-- end col -->

                                <div class="col-md-6">
                                    <label>Where are you currently?</label>
                                    {{ form.user_location }}
                                    <span class="font-13 text-muted">e.g "Chicago, IL"</span>
                                </div> <!-- end col -->

                                <div class="col-md-6">
                                    <label>Where are you going?</label>
                                    {{ form.destination }}
                                    <span class="font-13 text-muted">e.g "San Fransisco, CA"</span>
                                </div> <!-- end col -->

                            </div> <!-- end row -->

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">When are you planing this trip?</h4>
                            <p class="text-muted font-14">
                                (Don't worry you can change this later)
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label>Start Date</label>
                                        {{ form.start_date }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label>End Date</label>
                                        {{ form.end_date }}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                 <h4 class="header-title">Packing List</h4>
                                <p class="text-muted font-13">
                                    List all the things you'll need for this trip.
                                </p>
                                {{ form.packing_list }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Community Trip</h4>
                            <p class="text-muted font-14 mb-3">
                                Would you like to make your trip public to the community?
                            </p>
                            <!-- Success Switch-->
                            {{ form.public }}
                            <label for="switch3" data-off-label="No" data-on-label="Yes"></label>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title m-t-0">Dropzone File Upload</h4>
                            <p class="text-muted font-13 m-b-30">
                                DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.
                            </p>

                            <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                                data-upload-preview-template="#uploadPreviewTemplate" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="fallback">
                                    {{ form.files }}
                                </div>

                                <div class="dz-message needsclick">
                                    <i class="h1 text-muted dripicons-cloud-upload"></i>
                                    <h3>Drop files here or click to upload.</h3>
                                    <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
                                        <strong>not</strong> actually uploaded.)</span>
                                </div>
                            </form>

                            <!-- Preview -->
                            <div class="dropzone-previews mt-3" id="file-previews"></div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col-->
            </div>
            <!-- end row -->

                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Create Trip</button>
                    </div>
                </div>

            </form>
        </div> <!-- container -->

{% endblock %}

{% block scipts_block %}
    <!-- Dropzone js -->
    <script src="{% static 'app/js/vendor/dropzone.min.js' %}"></script>
    <!-- File upload js -->
    <script src="{% static 'app/js/ui/component.fileupload.js' %}"></script>
{% endblock %}